<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Start link bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Start favicon -->
    <link type="image/x-icon" href="../favicon.ico" rel="shortcut icon">
    <!-- The end favicon -->
    <!-- The end link bootstrap -->
    <!-- Start font-awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <!-- The end font-awesome -->
    <!-- Start fonts -->
    <link rel="stylesheet" href="../css/fonts.css" />
    <!-- The end fonts -->
    <!-- Start basic css -->
    <link rel="stylesheet" href="../css/common.css" />
    <!-- The end basic css -->
     <!-- Start owl-carousel links -->
     <link rel="stylesheet" href="../css/owl.carousel.min.css">
     <link rel="stylesheet" href="../css/owl.theme.default.min.css">
     <!-- The end owl-carousel links -->
    <!-- Start link jQuery -->
    <script src="../js/jquery-3.6.0.min.js"></script>
    <!-- The end link jQuery -->
    <title>CopyBro</title>
  </head>
  <body>
    <!-- Start  Header logo and install link -->
    <header>
      <div class="wrap">
        <nav>
          <div class="b-logo">
            <a href="" class="b-logo-link">
              <img src="../images/Frame.svg" alt="logo" />
            </a>
          </div>
          <div class="b-link-mobile">
            <div class="d-flex">
              <img src="../images/googleapp-icon.svg" alt="">
              <img src="../images/appstore-icon.svg" alt="">
            </div>
          </div>
          <div class="b-link nm">
            <a href="home.html" class="b-link-install">Установить</a>
          </div>
        </nav>
      </div>
    </header>
    <!-- The end Header logo and install link -->
    <!-- Start Main content -->

    <main>
      <!-- Start banner content -->
      <div class="b-banner _anim-items nm">
        <div class="wrap">
          <div class="row">
            <div class="col-lg-6">
              <div class="b-banner-content">
                <div class="b-banner-text anm _anm-no-hide">
                  <h1><span>Инвестируйте легко</span> <br> и получайте доход</h1>
                  <div class="b-h2">
                    <span>+51,9%</span> годовых
                    <a class="b-tooltip" href="" data-tooltip="Общий показатель по среднегодовой доходности стратегий">*</a>
                  </div>
                  <p>
                    Выбирайте стратегии успешных трейдеров <br> 
                    и копируйте сделки в авторежиме. Зарабатывайте <br>
                    легко и с минимальными рисками через мобильное  <br>
                    приложение Сopybro.
                  </p>
                </div>
                <div class="b-link">
                  <a href="home.html" class="b-link-install">Установить приложение</a>
                </div>
                <div class="b-link-group d-flex">
                    <div class="b-app-links">
                    <a href="">
                        <img src="../images/googleapp-icon.svg" alt="">
                        Google Play
                    </a>
                </div>
                <div class="b-app-links">
                    <a href="">
                        <img src="../images/appstore-icon.svg" alt="">
                        App Store
                    </a>
                </div>
                </div>
                
              </div>
            </div>
            <div class="col-lg-6">
                <div class="b-filter">
                    <div class="b-media d-flex">
                    <div class="b-media-item one">
                        <img src="../images/time.svg" alt="">
                        <div class="b-h3">60 мин</div>
                        <p>
                            Сэкономленного времени в день
                        </p>
                    </div>
                    <div class="b-media-item two">
                        <img src="../images/time.svg" alt="">
                        <div class="b-h3">от 0,0₽</div>
                        <p>
                            Платите комиссию только с прибыли
                        </p>
                    </div>
                    <div class="b-media-item three">
                        <img src="../images/Proc.svg" alt="">
                        <div class="b-h3">51,9%</div>
                        <p>
                            Средняя годовая доходность
                        </p>
                    </div>
                </div>
                </div>
                
            </div>
          </div>
        </div>
      </div>


      <!-- Start mobile banner -->

      <div class="b-banner mobile">
        </div>
        <div class="b-mobile-banner-content">
          <div class="wrap">
          <div class="b-banner-text anm">
            <h2 class="_anm-show">Зарабатывайте на инвестировании <span>легче и больше</span></h2>
            <p class="_anm-show">Подписывайтесь на лучшие стратегии, копируйте сделки профессиональных трейдеров в автоматическом режиме, зарабатывайте легко с минимальными рисками</p>
          </div>
          <div class="b-link-group d-flex">
            <div class="b-app-links">
            <a href="">
                <img src="../images/googleapp-icon.svg" alt="">
                Google Play
            </a>
        </div>
        <div class="b-app-links">
            <a href="">
                <img src="../images/appstore-icon.svg" alt="">
                App Store
            </a>
        </div>
        </div>
        <div class="b-app-mob-links">
          <div class="b-link">
            <a href="home.html" class="b-link-install">Установить приложение</a>
          </div>
        </div>
        </div>
        </div>
        

      <!-- The end mobile banner -->
      <!-- The end banner content -->
      <!-- Start about content -->
      <div class="b-about">
        <div class="wrap">
          <div class="b-about-media-mobile">
            <img src="../images/mob-card-search.svg" alt="">
          </div>
          <div class="b-about-row d-flex">
            <div class="b-about-media nm">
              <img src="../images/about.svg" alt="">
            </div>
            <div class="b-about-content">
              <div class="b-about-text">
                <div class="b-h2 anm">
                  Автоследование: <span>минимальные риски,</span>  оптимальная доходность 
                </div>
                <p class="">
                  Мы собрали для вас лучшие торговые стратегии с подтвержденными данными по прошлым сделкам и их доходности. Трейдер ежедневно следит за динамикой рынка, совершая сделки и балансируя риски и доходность стратегии. 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- The end about content -->
      <!-- Start invest -->

      <div class="b-invest ">
        <div class="wrap">
          <div class="title anm">
            <h2 class="_anm-show">
              Стать инвестором <br> <span>просто</span> 
            </h2>
            <div class="row">
              <div class="col-xs col-sm-12 col-md-4 col-lg-4 ">
                <div class="b-invest-content">
                   <div class="b-invest-text d-flex">
                     <div class="b-invest-text-title anm">1</div>
                     <div class="b-invest-text-subtitle _anm-show">
                      <span>Скачайте</span> <br>  приложение CopyBro
                     </div>
                    </div>
                <p class="_anm-show">
                  Приложение бесплатно и доступно для платформ iOS и Android
                </p>
                </div>
               
              </div>
              <div class="col-xs col-sm-12 col-md-4 col-lg-4 ">
                <div class="b-invest-content">
                   <div class="b-invest-text d-flex">
                     <div class="b-invest-text-title anm">2</div>
                     <div class="b-invest-text-subtitle _anm-show">
                      <span>Откройте</span> <br>   брокерский счет онлайн
                     </div>
                   
                    </div>
                <p>
                  Открытие счета - обязательная процедура,  фактически это личный кошелек для хранения средств и ценных бумаг.
                </p>
                </div>
               
              </div>
              <div class="col-xs col-sm-12 col-md-4 col-lg-4 ">
                <div class="b-invest-content">
                   <div class="b-invest-text d-flex">
                     <div class="b-invest-text-title anm">3</div>
                     <div class="b-invest-text-subtitle _anm-show">
                      <span>Выберите</span>    стратегии <br> для автоследования
                     </div>
                   
                    </div>
                <p>
                  Подписавшись на стратегию, вы активируете услугу “Автоследование”, все ваши сделки будут дублироваться с трейдерскими! 
                </p>
                </div>
               
              </div>
              
            </div>
            <div class="b-link ">
                <a href="home.html" class="b-link-install">Установить приложение</a>
              </div>
          </div>
        </div>
      </div>

      <!-- The end invest -->

      <!-- Start statistics -->

      <div class="b-statistics _anim-items ">
        <div class="wrap">
          <div class="b-statistics-title d-flex">
            <h2>Лучшие предложения <br> на платформе</h2>
            <div class="b-statistics-mobile">
              <div class="b-statistics-subtitle"><span> + 51,9%</span> 
              <p>средняя годовая доходность</p>
            </div>
            <div class="b-statistics-text">
              Общий показатель <br> всех стратегий
            </div>
            </div>
            
          </div>
          <div class="b-carousel">
              <div class="owl-carousel offersSlider">
                <div>
                  <div class="b-cards">
                    <div class="d-flex justify-content-between">
                      <div class="b-cards-title">
                      <span>Низкий риск</span>
                      <div class="b-cards-subtitle">Light Start </div>
                    </div>
                    <div class="b-cards-options">
                      <i class="fas fa-star"></i> 5,0
                    </div>
                    </div>
                    <div class="b-cards-title">
                      <p>Для инвесторов с небольшим порогом <br> входа </p>
                    </div>
                      <div class="d-flex">
                        <div class="b-cards-media">
                          <img src="../images/line1.svg" alt="">
                        </div>
                        <div class="b-cards-middle">
                          <div class="b-cards-text">+ 18% <span>/год</span> </div>
                          <div class="b-cards-title">
                            <span>Валюта</span>
                            <p>RUB</p>
                          </div>
                        </div>
                      </div>
                      <div class="b-cards-footer">
                        <div class="d-flex justify-content-start">
                          <div class="b-cards-footer-media">
                            <img src="../images/ChernoglazovaE.svg" alt="">
                          </div>
                          <div class="b-cards-middle">
                            <div class="b-cards-title">
                              <span>Автор</span>
                              <p>Черноглазова Е.</p>
                            </div>
                          </div>
                          <div class="b-cards-middle">
                            <div class="b-cards-title">
                              <span>Сумма входа</span>
                              <p>от 2 000₽</p>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div>
                  <div class="b-cards">
                    <div class="d-flex justify-content-between">
                      <div class="b-cards-title">
                      <span>Умеренный риск</span>
                      <div class="b-cards-subtitle">DividendBenefit </div>
                    </div>
                    <div class="b-cards-options">
                      <i class="fas fa-star"></i> 4,9
                    </div>
                    </div>
                    <div class="b-cards-title">
                      <p>Стабильный доход на дивидендных  <br> выплатах и росте акций  </p>
                    </div>
                      <div class="d-flex">
                        <div class="b-cards-media">
                          <img src="../images/line2.svg" alt="">
                        </div>
                        <div class="b-cards-middle">
                          <div class="b-cards-text">+ 46% <span>/год</span> </div>
                          <div class="b-cards-title">
                            <span>Валюта</span>
                            <p>RUB</p>
                          </div>
                        </div>
                      </div>
                      <div class="b-cards-footer">
                        <div class="d-flex justify-content-start">
                          <div class="b-cards-footer-media">
                            <img src="../images/SkargaI.svg" alt="">
                          </div>
                          <div class="b-cards-middle">
                            <div class="b-cards-title">
                              <span>Автор</span>
                              <p>Скарга И.</p>
                            </div>
                          </div>
                          <div class="b-cards-middle">
                            <div class="b-cards-title foot">
                              <span>Сумма входа</span>
                              <p>от 100 000₽</p>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div>
                  <div class="b-cards">
                    <div class="d-flex justify-content-between">
                      <div class="b-cards-title">
                      <span>Высокий риск</span>
                      <div class="b-cards-subtitle">CatchUp </div>
                    </div>
                    <div class="b-cards-options">
                      <i class="fas fa-star"></i> 5,0
                    </div>
                    </div>
                    <div class="b-cards-title">
                      <p>Крупные акции корпораций, а так же <br> недооцененные рынком бумаги  </p>
                    </div>
                      <div class="d-flex">
                        <div class="b-cards-media">
                          <img src="../images/Line3.png" alt="">
                        </div>
                        <div class="b-cards-middle">
                          <div class="b-cards-text">+ 129% <span>/год</span> </div>
                          <div class="b-cards-title">
                            <span>Валюта</span>
                            <p>USD</p>
                          </div>
                        </div>
                      </div>
                      <div class="b-cards-footer">
                        <div class="d-flex justify-content-start">
                          <div class="b-cards-footer-media">
                            <img src="../images/SkargaI.svg" alt="">
                          </div>
                          <div class="b-cards-middle">
                            <div class="b-cards-title">
                              <span>Автор</span>
                              <p>Скарга И.</p>
                            </div>
                          </div>
                          <div class="b-cards-middle">
                            <div class="b-cards-title foot">
                              <span>Сумма входа</span>
                              <p>от 1 000$</p>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div>
                  <div class="b-cards">
                    <div class="d-flex justify-content-between">
                      <div class="b-cards-title">
                      <span>Высокий риск</span>
                      <div class="b-cards-subtitle">CatchUp </div>
                    </div>
                    <div class="b-cards-options">
                      <i class="fas fa-star"></i> 5,0
                    </div>
                    </div>
                    <div class="b-cards-title">
                      <p>Крупные акции корпораций, а так же <br> недооцененные рынком бумаги  </p>
                    </div>
                      <div class="d-flex">
                        <div class="b-cards-media">
                          <img src="../images/Line3.png" alt="">
                        </div>
                        <div class="b-cards-middle">
                          <div class="b-cards-text">+ 129% <span>/год</span> </div>
                          <div class="b-cards-title">
                            <span>Валюта</span>
                            <p>USD</p>
                          </div>
                        </div>
                      </div>
                      <div class="b-cards-footer">
                        <div class="d-flex justify-content-start">
                          <div class="b-cards-footer-media">
                            <img src="../images/SkargaI.svg" alt="">
                          </div>
                          <div class="b-cards-middle">
                            <div class="b-cards-title">
                              <span>Автор</span>
                              <p>Скарга И.</p>
                            </div>
                          </div>
                          <div class="b-cards-middle">
                            <div class="b-cards-title foot">
                              <span>Сумма входа</span>
                              <p>от 1 000$</p>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div>
                  <div class="b-cards">
                    <div class="d-flex justify-content-between">
                      <div class="b-cards-title">
                      <span>Высокий риск</span>
                      <div class="b-cards-subtitle">CatchUp </div>
                    </div>
                    <div class="b-cards-options">
                      <i class="fas fa-star"></i> 5,0
                    </div>
                    </div>
                    <div class="b-cards-title">
                      <p>Крупные акции корпораций, а так же <br> недооцененные рынком бумаги  </p>
                    </div>
                      <div class="d-flex">
                        <div class="b-cards-media">
                          <img src="../images/Line3.png" alt="">
                        </div>
                        <div class="b-cards-middle">
                          <div class="b-cards-text">+ 129% <span>/год</span> </div>
                          <div class="b-cards-title">
                            <span>Валюта</span>
                            <p>USD</p>
                          </div>
                        </div>
                      </div>
                      <div class="b-cards-footer">
                        <div class="d-flex justify-content-start">
                          <div class="b-cards-footer-media">
                            <img src="../images/SkargaI.svg" alt="">
                          </div>
                          <div class="b-cards-middle">
                            <div class="b-cards-title">
                              <span>Автор</span>
                              <p>Скарга И.</p>
                            </div>
                          </div>
                          <div class="b-cards-middle">
                            <div class="b-cards-title foot">
                              <span>Сумма входа</span>
                              <p>от 1 000$</p>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div>
                  <div class="b-cards">
                    <div class="d-flex justify-content-between">
                      <div class="b-cards-title">
                      <span>Высокий риск</span>
                      <div class="b-cards-subtitle">CatchUp </div>
                    </div>
                    <div class="b-cards-options">
                      <i class="fas fa-star"></i> 5,0
                    </div>
                    </div>
                    <div class="b-cards-title">
                      <p>Крупные акции корпораций, а так же <br> недооцененные рынком бумаги  </p>
                    </div>
                      <div class="d-flex">
                        <div class="b-cards-media">
                          <img src="../images/Line3.png" alt="">
                        </div>
                        <div class="b-cards-middle">
                          <div class="b-cards-text">+ 129% <span>/год</span> </div>
                          <div class="b-cards-title">
                            <span>Валюта</span>
                            <p>USD</p>
                          </div>
                        </div>
                      </div>
                      <div class="b-cards-footer">
                        <div class="d-flex justify-content-start">
                          <div class="b-cards-footer-media">
                            <img src="../images/SkargaI.svg" alt="">
                          </div>
                          <div class="b-cards-middle">
                            <div class="b-cards-title">
                              <span>Автор</span>
                              <p>Скарга И.</p>
                            </div>
                          </div>
                          <div class="b-cards-middle">
                            <div class="b-cards-title foot">
                              <span>Сумма входа</span>
                              <p>от 1 000$</p>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                </div>
                <div class="b-owl-nav">
                  <button class="b-owl-prev offersSlider__prev"></button>
                  <button class="b-owl-next offersSlider__next"></button>
              </div>
          </div>
          </div>
          
        </div>

      <!-- The end statistics -->

      <!-- Start info content -->

        <div class="b-info">
          <div class="wrap">
            <div class="row">
              <div class="col-xs col-sm-12 col-md-4 col-lg-4">
                <div class="b-info-content anm">
                  <h2 class="_anm-show">Нам можно 
                     <span>довериться</span> </h2>
                    <p class="_anm-show">
                      Наш брокер имеет рейтинг "АА+". Высокая оценка ключевых компонентов системы управления рисками.
                    </p>
                    <div class="b-info-text">
                      Присвоено независимым Национальным рейтинговым <br> агентством
                    </div>
                </div>
              </div>
              <div class="col-xs col-sm-12 col-md-8 col-lg-8">
                <div class="b-info-media">
                  <img src="../images/title.svg" alt="">
                </div>
              </div>
            </div>
            <div class="b-info-counter">
              <div class="row">
                <div class="col-xs col-sm-12 col-md-4 col-lg-4">
                  <div class="b-counter-content anm">
                    <div class="b-h4"> <span>28</span> лет</div>
                    <p class="_anm-show">С 1993 года на финансовом рынке</p>
                  </div>
                </div>
                <div class="col-xs col-sm-12 col-md-4 col-lg-4">
                  <div class="b-counter-content anm">
                    <div class="b-h4"> <span>>600</span>млрд ₽</div>
                    <p class="_anm-show">Ежемесячный клиентский оборот</p>
                  </div>
                </div>
                <div class="col-xs col-sm-12 col-md-4 col-lg-4">
                  <div class="b-counter-content anm">
                    <div class="b-h4"> <span>>38</span>тыс.</div>
                    <p class="_anm-show">Постоянных клиентов компании</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row b-row-info">
              <div class="col-xs col-sm-12 col-md-6 col-lg-6 ">
                <div class="b-info-media">
                  <img src="../images/aa.svg" alt="">
                </div>
              </div>
              <div class="col-xs col-sm-12 col-md-6 col-lg-6">
                <div class="b-info-content two anm">
                  <div class="b-h2 _anm-show">
                    Ваши средства <br> <span>под защитой</span>
                  </div>
                  <p class="_anm-show">Мы дорожим своей репутацией и очень внимательно подходим к подбору стратегий на нашем сервисе. </p>
                  <p class="_anm-show">Все представленные торговые стратегии имеют проверенные исторические данные по сделкам и торгуются на реальных портфелях трейдеров.</p>
                </div>
              </div>
            </div>
            <div class="row b-row-info">
              <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="b-info-cards">
                  <img src="../images/icon1.svg" alt="">
                <div class="b-p">Автоследование <br> в онлайн режиме </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="b-info-cards">

                  <img src="../images/icon2.svg" alt="">
                  <div class="b-p">Круглосуточная <br> поддержка клиентов </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="b-info-cards">

                  <img src="../images/icon3.svg" alt="">
                  <div class="b-p">Многолетний опыт <br> на биржевом рынке </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="b-info-cards">

                  <img src="../images/icon4.svg" alt="">
                  <div class="b-p">Высокодоходные <br> стратегии*</div>
                </div>
              </div>
            </div>
            <div class="b-mobile-wrap d-flex">
              <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="b-info-cards">
                  <img src="../images/icon1.svg" alt="">
                <div class="b-p">Автоследование <br> в онлайн режиме </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 ">
                <div class="b-info-cards">

                  <img src="../images/icon2.svg" alt="">
                  <div class="b-p">Круглосуточная <br> поддержка клиентов </div>
                </div>
              </div>
            </div>
            <div class="b-mobile-wrap d-flex">
              <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="b-info-cards">

                  <img src="../images/icon3.svg" alt="">
                  <div class="b-p">Многолетний опыт <br> на биржевом рынке </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="b-info-cards">

                  <img src="../images/icon4.svg" alt="">
                  <div class="b-p">Высокодоходные <br> стратегии*</div>
                </div>
              </div>
            </div>
              </div>
            </div>
            </div>
            <hr>
            <div class="wrap">
              <div class="b-text-info">
              *средняя доходность представленных в сервисе стратегий выше ключевых индексов. <br> Общий показатель по всем стратегиям составляет + 51,9% / год
            </div>
            </div>
            
          </div>
        </div>

      <!-- The end info content -->

      <!-- Start app -->

        <div class="b-app ">
          <div class="wrap">
            <div class="row">
              <div class="col-xs col-sm-12 col-md-6 col-lg-7">
                <div class="b-app-media">
                  <img src="../images/Phone1.png" alt="">
                  <img src="../images/Phone2.png" alt="">
                </div>
              </div>
              <div class="col-xs col-sm-12 col-md-6 col-lg-5 b-col">
                <div class="b-app-content anm">
                  <h2 class="_anm-show">
                    <span>Пожалуй, лучшее</span>
                    мобильное приложение для копитрейдинга
                  </h2>
                  <div class="b-app-mobile ">
                    <div class="d-flex">
                    <div class="b-app-qr">
                      <img src="../images/QR-code.svg" alt="">
                    </div>
                    <div class="b-app-text">
                      <p>Для скачивания мобильного <br> приложения -  наведите камерой <br> на Qr-code</p>
                      <div class="b-link-group d-flex">
                        <div class="b-app-links">
                        <a href="">
                            <img src="../images/googleapp-icon.svg" alt="">
                            Google Play
                        </a>
                    </div>
                    <div class="b-app-links">
                        <a href="">
                            <img src="../images/appstore-icon.svg" alt="">
                            App Store
                        </a>
                    </div>
                    </div>
                    <div class="b-app-mob-links">
                      <div class="b-link">
                        <a href="home.html" class="b-link-install">Установить приложение</a>
                      </div>
                    </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="b-mobile-app ">
              <div class="b-app-qr">
                <img src="../images/QR-code.svg" alt="">
              </div>
              <div class="b-app-text anm">
                <p class="_anm-show">Для скачивания мобильного <br> приложения -  наведите камерой <br> на Qr-code</p>
                <div class="b-link-group d-flex">
                  <div class="b-app-links">
                  <a href="">
                      <img src="../images/googleapp-icon.svg" alt="">
                      Google Play
                  </a>
              </div>
              <div class="b-app-links">
                  <a href="">
                      <img src="../images/appstore-icon.svg" alt="">
                      App Store
                  </a>
              </div>
              </div>
              <div class="b-app-mob-links">
                <div class="b-link">
                  <a href="home.html" class="b-link-install">Установить приложение</a>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>

      <!-- The end app -->

      <!-- Start conditions -->
      <div class="b-conditions">
        <div class="wrap anm">
          <h2 class="_anm-show">Комиссия только <br> <span>за успех</span> </h2>
          <p class="_anm-show">Комиссия взимается за услугу “Автоследование” <br> только в случае успешности стратегии.  </p>
          <div class="row">
            <div class="col-xs col-sm-12 col-md-4 col-lg-4">
              <div class="b-condition-content anm">
                <span>Бесплатно</span>
                <p class="_anm-show">Комиссия за обслуживанаие</p>
              </div>
            </div>
            <div class="col-xs col-sm-12 col-md-4 col-lg-4">
              <div class="b-condition-content anm">
                <span>Бесплатно</span>
                <p class="_anm-show">Подключение к стратегии</p>
              </div>
            </div>
            <div class="col-xs col-sm-12 col-md-4 col-lg-4">
              <div class="b-condition-content anm">
                <span>20,0%</span>
                <p class="_anm-show">Комиссия за успех (от дохода)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- The end conditions -->

      <!-- Start FAQ -->

      <div class="b-faq ">
<div class="wrap">
              <div class="b-faq-ls">
                <div class="b-h2 nm">
                <div class="b-faq-back">
                  <img src="../images/b-fack-back.svg" alt="">
                </div>
                  FAQ
                </div>
                <div class="b-faq-content d-flex">
                  <div class="nav b-nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <div class="b-h2 mb">FAQ</div>
                    <div class="b-faq-otherQ">Другие вопросы</div>
                    <a class="nav-link b-nav-link active" id="look-strategy-tab" data-toggle="pill" href="#look-strategy" role="tab" aria-controls="look-strategy" aria-selected="true">1. Нужно ли мне следить за стратегиями, в которые я инвестирую? <img class="b-arrow" src="../images/arrow-faq.svg" alt=""></a>
                    <a class="nav-link b-nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"> 2. Как открыть брокерский счет и для     чего он нужен? <img class="b-arrow" src="../images/arrow-faq.svg" alt=""></a>
                    <a class="nav-link b-nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">3. Как пополнить баланс? <img class="b-arrow" src="../images/arrow-faq.svg" alt=""></a>
                    <a class="nav-link b-nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">4. Чьи стратегии я использую? <img class="b-arrow" src="../images/arrow-faq.svg" alt=""></a>
                    <a class="nav-link b-nav-link" id="v-pills-cash-tab" data-toggle="pill" href="#v-pills-cash" role="tab" aria-controls="v-pills-cash" aria-selected="false">5.  Нужно ли мне за что-то платить? <img class="b-arrow" src="../images/arrow-faq.svg" alt=""></a>
                    <a class="b-nav-link more nm" href="">Посмотреть все вопросы <img src="../images/check-more.svg" alt=""></a>
                  </div>
                  <div class="tab-content b-tab-content" id="v-pills-tabContent">
                    <div class="tab-pane b-tab-plane fade show active" id="look-strategy" role="tabpanel" aria-labelledby="look-strategy-tab"><span>1. Нужно ли мне следить за стратегиями, в которые я инвестирую?</span> <p>Нет, это совсем не обязательно! </p><p>
                      Аналитики компании проводят ежедневный анализ рынка и новостного фона, благодаря чему держат всю ситуацию под контролем (балансируют стратегию) . Все действия, совершаемые трейдером,на которого вы подписаны, копируются в вашем аккаунте. </p></div>
                    <div class="tab-pane b-tab-plane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"><span>2. Как открыть брокерский счет и для чего он нужен?</span> <p>Брокерский счет по сути является кошельком для хранения средств и активов. </p><p>При первом использовании приложения вам будет предложено пройти процедуру открытия брокерского счета, следуйте подсказкам. Открытие счета занимает в среднем 30мин.</p></div>
                    <div class="tab-pane b-tab-plane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"><span>3. Как пополнить баланс?</span> <p>Пополнить баланс можно через приложение в личном аккаунте через реквизиты или с карты любого банка.
                      Пополнение счета по реквизитам производится не мгновенно и может занять от 1 до 3 рабочих дней. 
                      </p></div>
                    <div class="tab-pane b-tab-plane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"><span>4. Чьи стратегии я использую?</span><p>Вы копируете стратегии наших профессиональных трейдеров с успешной репутацией и многолетним опытом.
                    </p></div>
                    <div class="tab-pane b-tab-plane fade" id="v-pills-cash" role="tabpanel" aria-labelledby="v-pills-cash-tab"><span>5.  Нужно ли мне за что-то платить?</span><p>Мы не взимаем процент от вашего депозита. Вы платите только комиссию от прибыли в размере 20%.  Поэтому мы заинтересованы что бы вы зарабатывали больше на наших стратегиях. 
                      
                    </p></div>
                  </div>
                </div>
                <div class="b-nav-link more mb">
                    <a class="b-nav-link more" href="">Посмотреть все вопросы <img src="../images/check-more.svg" alt=""></a>
                </div>
                
          </div>
        </div>
      </div>
      <!-- <div class="b-faq mb ">
        <div class="wrap">
                      <div class="b-faq-ls">
                        <div class="b-h2">
                          FAQ
                        </div>
                        <div class="b-faq-content d-flex">
                          <div class="nav b-nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link b-nav-link active" id="look-strategy-tab" data-toggle="pill" href="#look-strategy" role="tab" aria-controls="look-strategy" aria-selected="true">1. Нужно ли мне следить за стратегиями, в которые я инвестирую? <img class="b-arrow" src="../images/arrow-faq.svg" alt=""></a>
                            <a class="nav-link b-nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"> 2. Как открыть брокерский счет и для     чего он нужен? <img class="b-arrow" src="../images/arrow-faq.svg" alt=""></a>
                            <a class="nav-link b-nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">3. Как пополнить баланс? <img class="b-arrow" src="../images/arrow-faq.svg" alt=""></a>
                            <a class="nav-link b-nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">4. Чьи стратегии я использую? <img class="b-arrow" src="../images/arrow-faq.svg" alt=""></a>
                            <a class="nav-link b-nav-link" id="v-pills-cash-tab" data-toggle="pill" href="#v-pills-cash" role="tab" aria-controls="v-pills-cash" aria-selected="false">5.  Нужно ли мне за что-то платить? <img class="b-arrow" src="../images/arrow-faq.svg" alt=""></a>
                            <a class="b-nav-link more" href="">Посмотреть все вопросы <img src="../images/check-more.svg" alt=""></a>
                          </div>
                          <div class="tab-content b-tab-content" id="v-pills-tabContent">
                            <div class="tab-pane b-tab-plane fade show active" id="look-strategy" role="tabpanel" aria-labelledby="look-strategy-tab"><span>1. Нужно ли мне следить за стратегиями, в которые я инвестирую?</span> <p>Нет, это совсем не обязательно! </p><p>
                              Аналитики компании проводят ежедневный анализ рынка и новостного фона, благодаря чему держат всю ситуацию под контролем (балансируют стратегию) . Все действия, совершаемые трейдером,на которого вы подписаны, копируются в вашем аккаунте. </p></div>
                            <div class="tab-pane b-tab-plane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"><span>2. Как открыть брокерский счет и для чего он нужен?</span> <p>Брокерский счет по сути является кошельком для хранения средств и активов. </p><p>При первом использовании приложения вам будет предложено пройти процедуру открытия брокерского счета, следуйте подсказкам. Открытие счета занимает в среднем 30мин.</p></div>
                            <div class="tab-pane b-tab-plane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"><span>3. Как пополнить баланс?</span> <p>Пополнить баланс можно через приложение в личном аккаунте через реквизиты или с карты любого банка.
                              Пополнение счета по реквизитам производится не мгновенно и может занять от 1 до 3 рабочих дней. 
                              </p></div>
                            <div class="tab-pane b-tab-plane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"><span>4. Чьи стратегии я использую?</span><p>Вы копируете стратегии наших профессиональных трейдеров с успешной репутацией и многолетним опытом.
                            </p></div>
                            <div class="tab-pane b-tab-plane fade" id="v-pills-cash" role="tabpanel" aria-labelledby="v-pills-cash-tab"><span>5.  Нужно ли мне за что-то платить?</span><p>Мы не взимаем процент от вашего депозита. Вы платите только комиссию от прибыли в размере 20%.  Поэтому мы заинтересованы что бы вы зарабатывали больше на наших стратегиях. 
        
                            </p></div>
                          </div>
                        </div>
                  </div>
                </div>
                </div> -->
      <!-- The end FAQ -->
    </main>

    <!-- The end Main content -->

    <!-- Start footer -->

    <footer>
      <div class="wrap">
        <div class="b-footer-mobile">
          <div class="b-footer-description">
            <h2> <span>Бесплатное</span> <br> мобильное приложение <br> для копитрейдинга</h2>
            <div class="d-flex">
              <a href="">
              <img src="../images/g-play-inst.svg" alt="">
              <img src="../images/appstore-inst.svg" alt="">
              </a>
            </div>
            <div class="b-app-mob-links">
              <div class="b-link">
                <a href="home.html" class="b-link-install">Установить приложение</a>
              </div>
            </div>
          </div>
          <div class="b-footer-media">
            <img src="../images/QR-code.svg" alt="">
            <p>Мобильное приложение доступно для скачивания, наведите камерой на Qr-code</p>
          </div>
        </div>
        <div class="d-flex justify-content-between nm">
          <div class="b-footer-description">
            <h2> <span>Бесплатное</span> <br> мобильное приложение <br> для копитрейдинга</h2>
            <div class="d-flex">
              <a href="">
              <img src="../images/g-play-inst.svg" alt="">
              <img src="../images/appstore-inst.png" alt="">
              </a>
              <div class="b-app-mob-links">
                <div class="b-link">
                  <a href="home.html" class="b-link-install">Установить приложение</a>
                </div>
              </div>
            </div>
          </div>
          <div class="b-footer-media">
            <img src="../images/QR-code.svg" alt="">
            <p>Мобильное приложение доступно для скачивания, наведите камерой на Qr-code</p>
          </div>
        </div>
        <hr>
        <div class="b-app-mob-links mb">
          <div class="b-link">
            <a href="home.html" class="b-link-install">Установить приложение</a>
          </div>
        </div>
        <div class="b-footer-text">
          <a href="info.html">
          Раскрытие информации
        </a>
        <p>
          Брокерские услуги предоставляются ООО «АЛОР +» на основании Лицензии № 077-04827-100000 от 13.03.2001 г., выдана Федеральной службой по финансовым рынкам без ограничения срока действия.
          Депозитарные услуги предоставляются ООО «АЛОР +» на основании Лицензии № 077-10965-000100 от 22.01.2008 г., выдана Федеральной службой по финансовым рынкам без ограничения срока действия.
          Предоставленные на настоящем сайте услуги предоставляются ООО «АЛОР +» в рамках деятельности по инвестиционному консультированию. Сведения об инвестиционном советнике ООО «АЛОР +» внесены в реестр Банком России 21.12.2018 года.
          Сведения о ставках доходности, результатах инвестиционных решений являются индикативными, представлены исключительно для наглядности и не должны рассматриваться в качестве гарантий или обещаний в будущем эффективности деятельности (доходности вложений). Результаты инвестиционных решений клиента зависят от множества факторов, в том числе от суммы вложений, выбранного тарифного плана, сложившейся рыночной ситуации. Проведение операций типа «шорт» сопряжено с дополнительными рисками изменения цены финансового инструмента, что может привести к потере денежных средств.
          Перед заключением договора клиенту следует самостоятельно оценить целесообразность, экономическую обоснованность, юридические и иные последствия, риски и выгоды от операций с ценными бумагами/контрактами/валютой, иными предлагаемыми Компанией инвестиционными продуктами, принимая решения исключительно своей волей и в своем интересе, в том числе предварительно изучив условия заключенных с Компанией договоров и ознакомившись с Декларацией о рисках, связанных с проведением операций на рынке ценных бумаг и срочном рынке (Приложение 5 к Регламенту брокерского обслуживания Компании).
          По любым возникающим вопросам, а также в случае необходимости получения дополнительной информации просьба обращаться к сотрудникам Компании по указанным выше телефонам и адресам.
        </p>
        <div class="b-footer-text-mb">
          Брокерские услуги предоставляются ООО «АЛОР +» на основании Лицензии № 077-04827-100000 от 13.03.2001 г., выдана Федеральной службой по финансовым рынкам без ограничения срока действия. <a href="info.html">Читать далее</a>
        </div>
        </div>
         </div>
    </footer>
    

    <!-- The end footer -->

    <!-- Start owl-carousel script -->
      <script src="../js/owl.carousel.min.js"></script>
    <!-- The end owl-carousel script -->
    <!-- Start js script -->
      <script src="../js/common.js"></script>
    <!-- The end js script -->
    <!-- Start scripts bootstrap -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!-- The end scripts bootstrap -->
  </body>
</html>
